<p>products.list works!</p>
<p>HERE 25 LIST OF PRODUCT TO MAKE TODO</p>

<h2>LIST OF LUMINAIRES PRODUCTS</h2>
<ul>

  <template ngFor let-movie [ngForIn]="movies">

    <div>{{movie.title}}</div>
    <div>{{movie.desc}}</div>
    <div>{{movie.year}}</div>

  </template>

</ul>
